body {
    background: rgb(154, 78, 78);
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 60px;
}
#greeting{
    position: absolute;
    left: 30%;
    top: 50%;
    margin: 50px;
}
.dt{
    position: absolute;
    left: 38%;
    top: 65%;
    font-size: 40px;
    
}
